<div class="chat-item chat-item--{{active}}">
    <div class="chat-item__wrapper">
        <div class="chat-item__image-wrapper">
            <img class="chat-item__image" src="../static/icons/{{image}}" alt="image">
        </div>
        <div class="chat-item__content">
            <div class="chat-item__field">
                <p class="chat-item__name">{{name}}</p>
                <div>
                    {{#if outgoing}}
                        <img  class="chat-item__status" src="../static/icons/checks.svg">
                    {{else}}
                        <div></div>
                    {{/if}}
                    <span class="chat-item__time">{{time}}</span>
                </div>
            </div>
            <div class="chat-item__field">
                <p class="chat-item__message">{{last-message}}</p>
                {{#if outgoing}}
                    <span></span>
                {{else}}
                    <div class="chat-item__number">{{number}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
