<div class="input val" data-validation="{{validationType}}">
    <label class="input__label" for="{{id}}">{{label}}</label>
    {{{ SimpleInput
        onBlur=onBlur
        onFocus=onFocus
        type=type
        name=name
        id=id
        placeholder=placeholder
        defaultValue=defaultValue
        class='input__field'
    }}}
    <p class="input__error-message val__error-message">
        {{errorMessage}}
    </p>
</div>
