<div class="main__dimmer" data-dimmer="true">
    <nav class="main__nav">
        <div class="main__nav-header">
            <div class="main__nav-header-img-wrapper">
                <img class="main__nav-header-img" src="{{avatar}}">
            </div>
        </div>
        <ul class="main__nav-list">
            <li class="main__nav-item">
                <img class="main__nav-item-img" src="{{person}}">
                {{{ Link linkClass='main__nav-item-link' linkType='black' dataDimmer='true' text='Профиль' to='/settings' }}}
            </li>
            <li class="main__nav-item">
                <img class="main__nav-item-img" src="{{people}}">
                {{{ Link linkClass='main__nav-item-link' linkType='black' dataDimmer='true' text='Создать чат' onClick=onToggleCreateChatModal }}}
            </li>
            <li class="main__nav-item">
                <img class="main__nav-item-img" src="{{bin}}">
                {{{ Link linkClass='main__nav-item-link' linkType='black' dataDimmer='true' text='Выйти' onClick=onLogout }}}
            </li>
        </ul>
    </nav>
</div>
