<div class="plain-input val" data-validation="{{validationType}}" data-disabled="{{isDisabled}}">
    <label class="plain-input__label" for="{{id}}">{{label}}</label>
    {{{ SimpleInput
        onBlur=onBlur
        onFocus=onFocus
        type=type
        name=name
        id=id
        placeholder=placeholder
        defaultValue=defaultValue
        class='plain-input__field'
    }}}
    <p class="plain-input__error-message val__error-message">
        {{errorMessage}}
    </p>
</div>
