<main class="main-wrapper">
    <div class="main">
        <div class="main__col main__col--side">
            <div class="main__bar">
                {{{ Burger }}}
                <div class="main__search">
                    {{{ Search }}}
                </div>
            </div>
            <ul class="main__chats">
                <li>
                    {{{ ChatItem
                        image='person.svg'
                        name='Андрей'
                        time='12:30'
                        lastMessage='И Human Interface Guidelines и Material Design рекомендует поучаствовать в новом вебинаре от нашей компании'
                        number='3'
                    }}}
                </li>
                <li>
                    {{{ ChatItem
                        image='person.svg'
                        name='Киноклуб'
                        time='Чт'
                        lastMessage='Друзья, у меня для вас особенный выпуск новостей!'
                        number='1'
                    }}}
                </li>
                <li>
                    {{{ ChatItem
                        image='person.svg'
                        name='Вадим'
                        time='20.08.2022'
                        lastMessage='Круто!'
                        outgoing=true
                        active='active'
                    }}}
                </li>
            </ul>
        </div>
        <div class="main__col main__col--main">

            <div class="main__chat">
                <div class="main__chat-bar">
                    <h3 class="main__chat-name">Вадим</h3>
                    <button class="main__chat-menu-btn">
                        <img class="main__chat-menu-btn-icon" src="{{dotsSvg}}" alt="dots">
                    </button>
                </div>
                <div class="main__chat-space">
                    <div class="main__chat-col">

                    </div>
                    <div class="main__chat-col main__chat-col--outgoing">
                        {{{ Message text="Круто" time="22:15" outgoing=true }}}
                    </div>
                </div>
                <form class="main__chat-bar main__chat-bar--darken">
                    <label class="main__chat-file-picker">
                        <input type="file">
                    </label>
                    <input name="message" class="main__input-typer" type="text" placeholder="Написать сообщение">
                    <button type="submit" class="main__send-btn">
                        <img class="main__icon-send" src="{{routeSvg}}" alt="send">
                    </button>
                </form>
            </div>

        </div>

        <div class="main__delete-chat-func">

            <ul class="click-menu">
                <li class="click-menu__option-wrapper">
                    <button class="click-menu__option">
                        <img class="click-menu__image" src="{{binSvg}}">
                        <p class="click-menu__text">Удалить чат</p>
                    </button>
                </li>
            </ul>

        </div>

        <div class="main__delete-chat-func-two">

            <ul class="click-menu">
                <li class="click-menu__option-wrapper">
                    <button class="click-menu__option">
                        <img class="click-menu__image" src="{{filesSvg}}">
                        <p class="click-menu__text">Сменить аватар</p>
                    </button>
                </li>
                <li class="click-menu__option-wrapper">
                    <button class="click-menu__option">
                        <img class="click-menu__image" src="{{plusSvg}}">
                        <p class="click-menu__text">Добавить пользователя</p>
                    </button>
                </li>
                <li class="click-menu__option-wrapper">
                    <button class="click-menu__option">
                        <img class="click-menu__image" src="{{minusSvg}}">
                        <p class="click-menu__text">Удалить пользователя</p>
                    </button>
                </li>
                <li class="click-menu__option-wrapper">
                    <button class="click-menu__option">
                        <img class="click-menu__image" src="{{binSvg}}">
                        <p class="click-menu__text">Удалить чат</p>
                    </button>
                </li>
            </ul>

        </div>
    </div>
</main>
