<div class="modal-small">
    <p class="modal-small__header modal-small__header--{{colorTitle}}">{{title}}</p>
    <div class="modal-small__body">
        {{#if input}}
            {{{ Input placeholder="Логин пользователя" label="Логин" type="text" }}}
        {{else}}
            <p class="modal-small__text">{{text}}</p>
        {{/if}}
    </div>
    <div class="modal-small__footer">
        {{#if exit}}
            <div class="modal-small__exit-btn">{{{ Button text="Отмена" type="button" onClick=onClose}}}</div>
        {{/if}}

        {{{ Button text=btnText type="button" onClick=onSendData dataDimmer="true"}}}
    </div>
</div>
